.App {
  height: 1000px;
  /* background-color: rgb(203,183,183,0.3); */
}

.semi-class{
  margin: 32px;
  /* justify-items: center;
  margin: 40px;  */
  /* only for deployed purpose */
}

.navabar-components-class{
  margin-bottom: 20px;
}